*{
    padding: 0%;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.from-flex{
    display: flex;
    flex-direction: column;
}
.form{
    padding: 30px;
    border-radius: 8px;
    background: #bfd8d4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name, .email{
    width: 300px;
    padding: 10px 15px;
    background: #ffff;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.button{
    width: 100%;
    padding: 10px 15px;
    background: #acbefb;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
h1{
    margin-bottom: 5px;
}
h1,h2{
    font-size: 28px;
    font-weight: 600;
    color: black;
}
.from-heading{
    display: none;
}